streamlit
memory-profiler
objgraph
memory_profiler
astropy
asttokens
beautifulsoup4
colour-science
cachetools
certifi
cloudpickle
colorama
contourpy
cycler
Cython
dask
dataclasses
debugpy
decorator
einops
entrypoints
executing
fairscale
filelock
fonttools
fsspec
future
fuzzywuzzy
fvcore
geojson
gitdb
GitPython
grpcio
huggingface-hub
hydra-core
idna
imageio
imagesize
imutils
iopath
ipykernel
ipython
jedi
joblib
jsonpatch
jsonpointer
jupyter_client
jupyter_core
kiwisolver
labelbox
Levenshtein
locket
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mypy-extensions
ndjson
nest-asyncio
networkx
numpy
oauthlib
omegaconf
packaging
pandas
parso
partd
pathspec
pathtools
pickleshare
Pillow
platformdirs
pooch
portalocker
promise
prompt-toolkit
protobuf
psutil
pure-eval
py-cpuinfo
pyamg
pyasn1
pyasn1-modules
pydantic
pydot
pyefd
pyerfa
pyGeoTile
Pygments
pyparsing
pyproj
python-dateutil
python-Levenshtein
pytz
PyWavelets
pywin32
PyYAML
pyzenodo3
pyzmq
QtPy
rapidfuzz
rawpy
pyexiv2
reportlab
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
Shapely
shortuuid
SimpleITK
six
smmap
soupsieve
stack-data
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
threadpoolctl
tifffile
timm
tomli
toolz
tornado
tqdm
traitlets
typing_extensions
urllib3
wandb
wcwidth
websocket-client
Werkzeug
wget
yacs
zenodo-get
numpy -U
git+https://github.com/waspinator/pycococreator.git@fba8f4098f3c7aaa05fe119dc93bbe4063afdab8#egg=pycococreatortools
pycocotools>=2.0.5
opencv-contrib-python>=4.7.0.68
vit-pytorch==0.37.1
